.u-section-1 .u-sheet-1 {
  min-height: 589px;
}

.u-section-1 .u-text-1 {
  margin: 41px 344px 0 394px;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 27px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 316px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  height: 296px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  height: 296px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 11px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  height: 296px;
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 11px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 261px;
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-image-1 {
    height: 242px;
  }

  .u-section-1 .u-image-2 {
    height: 242px;
  }

  .u-section-1 .u-image-3 {
    height: 242px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 600px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-1 .u-image-1 {
    height: 281px;
  }

  .u-section-1 .u-image-2 {
    height: 281px;
  }

  .u-section-1 .u-image-3 {
    height: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 83px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 430px;
  }

  .u-section-1 .u-image-2 {
    height: 430px;
  }

  .u-section-1 .u-image-3 {
    height: 430px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1930px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 139px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 265px;
  }

  .u-section-1 .u-image-2 {
    height: 265px;
  }

  .u-section-1 .u-image-3 {
    height: 265px;
  }
}