.u-section-1 .u-sheet-1 {
  min-height: 1052px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 966px;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1032px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 47px -58px 0 -9px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: 73px -120px 0 -100px;
}

.u-section-1 .u-text-3 {
  margin: 41px 0 0 95px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 362px;
  height: 483px;
  margin: 33px 292px -63px auto;
}

.u-section-1 .u-image-1 {
  width: 483px;
  height: 362px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  margin: -1022px auto 60px 250px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1004px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 69px;
  }

  .u-section-1 .u-image-1 {
    margin: 30px 217px 0 auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-rotation-parent-1 {
    margin-right: 178px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 57px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-left: 143px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 432px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 2rem;
    margin-left: 90px;
  }
} .u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 1768px;
}

.u-section-2 .u-text-1 {
  margin: 130px 117px 0 153px;
}

.u-section-2 .u-image-1 {
  width: 483px;
  height: 362px;
  margin: 39px 302px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 428px;
  margin: 75px 259px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 57px 90px 0 179px;
}

.u-section-2 .u-image-3 {
  width: 589px;
  height: 345px;
  margin: 67px 231px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 70px 99px 56px 170px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 17px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 69px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 69px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: 237px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-right: 131px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1717px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 57px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 405px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 316px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 255px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 199px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 553px;
}

.u-section-3 .u-image-1 {
  width: 599px;
  height: 399px;
  margin: -13px 221px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 71px 108px 13px 160px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 8px;
    margin-left: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-right: 121px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 360px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 525px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 9px;
  width: 40px;
  height: 40px;
  top: 168px;
  padding: 10px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 168px;
  right: 4px;
  padding: 10px;
}